
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

<footer class="navbarFooter navbar-default">
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">
            <li><a href="#">Apps</a></li>
            <li><a href="#">Gadgets</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Creative</a></li>
        </ul>
        <div class="navbar-right">
            <p class="copyright">&copy;2016 Greate Simple</p>
        </div>
    </div>
</footer>