
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<nav class="navbarHeader navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <p>m<sup>02</sup></p>
            </a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Get free trial</a>
            <li><button type="button" id="btn" class="btn btn-default">Buy now</button></li>
         </ul>
    </div>
</nav>