.jumbotron{
    background: white;
}
.jumbotron > h1{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.jumbotron > p{
    color: dimgray;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}
.jumbotron > h3{
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding-bottom: 20px;
}
h2{
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#feedback, #name, #job{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#feedback{
    padding-top: 50px;
}
#name{
    font-size: 1em;
    padding-top: 20px;
    line-height: 70%;
    font-weight: 500;
}
#job{
    font-size: 0.9em;
    padding-bottom: 100px;
    line-height: 70%;
    color: grey;
}

#parPersonal{
    font-size: 1em;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 50px;
}

#freeTxt{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #7dc855;
}
#agency, #unlimited{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#license{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    font-size: 3em;
    font-weight: 300;
}
#moduleTxt{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
#bill{
    color: gray;
    text-align: left;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
#supDollar{
    font-size: 50%;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -14px;
}
#oneofus{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 200;
}
.col-sm-6{
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
#emailInput{
    padding-top: 0px;
}
#emailTxt{
    height: 50px;
    border-color: #AED6F1;
    border-left-color: white;
}
.input-group-addon{
    border-color: #AED6F1;
    background-color: white;
    border-right-color: white;
}
.grey{
    color: grey;
}
/* Grid */
.row{
    margin-right: -20px;
    margin-left: -20px;
} 
.col-sm-4{
    box-shadow: 2px 1px 1px #e5e8e8;
    border-radius: 0.5em;
    overflow: hidden;
}

/*@media screen and (min-width: 768px){
    .col-sm-4{
        margin-bottom: 0;
    }
}*/
/* Buttons */

#btn1{
    font-family: 'Roboto', sans-serif;
    border-color: #AED6F1;
    color: grey;
    width: 10em;
    height: 3.5em;
}
#btn2{
    font-family: 'Roboto', sans-serif;
    width: 10em;
    height: 3.5em;
    color: white;
    background-color: #7dc855;
    border-color: #7dc855;
}
#btn3{
    border: none;
    background: none;
}
#btn3:after{
    font-family: "Glyphicons Halflings";
    content: "\e113";
}
#btn3.collapsed:after{
    content: "\e114";
}
#btn4{
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #7dc855;
    border-color: #7dc855;
    width: 17em;
    height: 3.5em;
}
#btnMid{
    text-align: center;
    padding-bottom: 30px;
}
#btn5{
    color: white;
    background-color: #7dc855;
    border-color: #7dc855;
    height: 50px;
}
#btnRight:after{
    font-family: "Glyphicons Halflings";
    content:"\e113";
}
#btnRight.collapsed:after{
    float: left;
    content: "\e114";
}