.jumbotron{
    background: white;
}
.jumbotron > h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.jumbotron > p{
    color: dimgray;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron > h3{
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

#parPersonal{
    font-size: 1.2em;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
#freeTxt{
    font-family: Arial, Helvetica, sans-serif;
    color: #7dc855;
}
#personalDesc{
    color: gray;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#supDollar{
    font-size: 50%;
    position: relative;
    top: -14px;
}
#emailInput{
    padding-left: 475px;
    padding-right: 475px;
    padding-top: 0px;
}
#emailTxt{
    height: 50px;
    border-color: #AED6F1;
    border-left-color: white;
}
.input-group-addon{
    border-color: #AED6F1;
    background-color: white;
    border-right-color: white;
}
.grey{
    color: grey;
}
/* Grid */
.row{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
}
.col-md-4{
    box-shadow: 2px 1px 1px grey;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 0.5em;
}
.table{
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */

#btn1{
    border-color: #AED6F1;
    color: grey;
    position: relative;
    width: 10em;
    height: 3.5em;
}
#btn2{
    width: 10em;
    height: 3.5em;
    color: white;
    background-color: #7dc855;
    border-color: #7dc855;
}
#btn3{
    border: none;
    background: none;
}
#btn3:after{
    font-family: "Glyphicons Halflings";
    content: "\e113";
}
#btn3.collapsed:after{
    content: "\e114";
}
#btn4{
    color: white;
    background-color: #7dc855;
    border-color: #7dc855;
}
#btn5{
    color: white;
    background-color: #7dc855;
    border-color: #7dc855;
    height: 50px;
}