<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crowdlinker Code Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/body.css">

<div class="jumbotron text-center">
  <h1>Share your Files with Ease</h1>
  <p>We push ourselves to new levels of inspired excellence with each<br> project and we sweat creativity.</p>
</div>
<form class="navbar-form">
  <div class="container" align="center">
    <button type="button" class="btn btn-default" id="btn1">Buy now | &euro;23</button>
  </div>
</form>

<div class="jumbotron text-center">
  <h3>We push ourselves to new levels of inspired excellence with each<br> project and we sweat creativity. You won't see anything until we're<br> done drooling at the result.</h3>

<form class="navbar-form">
  <div class="container" align="center">
    <button type="button" class="btn btn-default" id="btn2">Buy now for &euro;23</button>
  </div>
</form>
</div>

<% include ../partials/footer %>
</body>
</html>

