<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crowdlinker Code Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/body.css">

<div class="jumbotron text-center">
  <h1>Share your Files with Ease</h1>
  <p>We push ourselves to new levels of inspired excellence with each<br> project and we sweat creativity.</p>
</div>

    <!-- Button 1 -->
  <form class="navbar-form">
    <div class="container" align="center">
      <button type="button" class="btn btn-default" id="btn1">Buy now | &euro;23</button>
   </div>
  </form>

<div class="jumbotron text-center">
  <h3>We push ourselves to new levels of inspired excellence with each<br> project and we sweat creativity. You won't see anything until we're<br> done drooling at the result.</h3>

    <!-- Button 2 -->
  <form class="navbar-form">
   <div class="container" align="center">
      <button type="button" class="btn btn-default" id="btn2">Buy now for &euro;23</button>
   </div>
  </form>
</div>
<div class="container" align="center">
  <div id="showMore" class="collapse">
    more.....
  </div>
    <!-- Button 3 -->
  <button type="button" id="btn3" class="btn btn-default collapsed" data-toggle="collapse" data-target="#showMore">
  </button>
</div>

<!--

Comment script goes here..

-->
<!-- Grid -->
<div class="jumbotron text-center">
  <h1>Choose Your License</h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2 align="center">Personal</h2>
        <p id="parPersonal" align="center">Just started using awesome Module.<br>Great way to boost the hard designing<br>or prototyping process.</p>
          <table class="table" align="center">
            <tr>
              <td><h1 id="freeTxt">Free</h1></td>
              <td><p id="personalDesc">Per month billed annualy<br>or $250 from month to<br>month
            </tr>
          </table>
             <button type="button" id="btn4" class="btn btn-default">Get it</button>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2 align="center">Agency</h2>
        <p id="parPersonal" align="center">Also a perfect tool for creative studios<br> and freelancers<br><br></p>
          <table class="table">
            <tr>
              <td><h1><sup id="supDollar">$</sup>123</h1></td>
              <td><p id="personalDesc">Per month billed annualy<br>or $250 from month to<br>month
            </tr>
          </table>
             <button type="button" id="btn4" class="btn btn-default">Get it</button>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2 align="center">Unlimited</h2>
        <p id="parPersonal" align="center">Living in today's metropolitan world of<br>cellular phones, mobile computers<br><br></p>
          <table class="table">
            <tr>
              <td><h1><sup id="supDollar">$</sup>232</h1></td>
              <td><p id="personalDesc">Per month billed annualy<br>or $250 from month to<br>month
            </tr>
          </table>
             <button type="button" id="btn4" class="btn btn-default">Get it</button>
      </div>
    </div>
  </div>
</div>
<!-- email -->
<div class="jumbotron text-center">
  <h1>Become One of Us</h1>
  <p>Module 01 is big, stylish and handy UI Kit, full of<br>many useful elements</p>
    <div class="input-group" id="emailInput">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-send grey"></i>
      </span>
      <input type="text" id="emailTxt" class="form-control" placeholder="E-mail address"/>
        <span class="input-group-btn">
          <button class="btn btn-default" id="btn5" type="button">Let's chat</button>
        </span>
    </div>
</div>

<% include ../partials/footer %>
</body>
</html>

